<div class="container" id="home-container">
  <div class="jumbotron text-center">
    <h1 class="display-4">AppBlog!</h1>
    <p class="lead">Finally, all ideas in one place!</p>
    <p>Quickly add ideas/thoughts/notes. It will take you less than a minute!</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg btn-dark btn-home" href="#" role="button">Learn more</a>
    </p>
  </div>
  <%= link_to 'Return to articles listing', articles_path%>
</div>
